header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
}

#add-recipe-form {
    margin-top: 10%;
    padding: 25px;
    border-radius: 8px;
    background-color: lightgray;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    position: absolute;
}

table, td {
  text-align: left;
  vertical-align: text-top;
}

br {
  visibility: visible;
  font-size: large;
}

#submit-button {
  margin-top: 10px;
}

#buttons-row {
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
}

.popupfield {
    visibility: hidden;
    offset: 30px;
    padding: 5px;
  }

label {
  margin-top: 10px;
}

  /* Toggle this class when clicking on the popup container (hide and show the popup) */
.show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  }